@import "globals";

/* section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
@media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
}

@media screen and (min-width: 300px) {

    .box {
        align-items: center;
        text-align: center;
    }
    
    .section-center {
      width: 95vw;
    }

    .box {
        align-items: center;
    }

    h3 {
        align-items: center;
        padding-right: 50px;
    }

    .input {
        align-items: center;
        padding-right: 50px;
    }

    button {
        align-items: center;
        text-align: center;
    }

    .button {
        padding-right: 50px;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
/* Section */

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.title {
    text-align: center;
    margin-bottom: 4rem;
}
.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: var(--fixed-width);
    padding: 10px;
    box-sizing: border-box;
}

.container .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    position: relative;
    background: #fff7ff;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
}

/***** BUTTON *****/

button {
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

.button {
    text-align: center;
    padding-right: 50px;
    padding-top: 10px;
}



/***** display-result *****/

.h4 {
    align-items: center;
    font-weight: bold;
    overflow: scroll;
    text-align: center;
    border: solid;
    padding-bottom: 10px;
    border-radius: 10px;
}

#display-result-1 {
    padding-top: 5%;
    text-align: center;
    align-items: center;
    font-size: 25px;
}